<html ng-app="github">
  <head>
    <meta charset="UTF-8">
    <title>Github profiles</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <!-- <script src="http://underscorejs.org/underscore-min.js"></script> -->
    <script src="/js/app.js"></script>
  </head>

  <body ng-controller="GithubController">
    <!--<div ng-show="profile">-->
    <!-- <div ng-repeat="repo in repos">
      {{repo.language}}
    </div> -->

    <!-- <div ng-repeat="name in reponames">
      {{name}}
    </div> -->
    <h1>Github Statistics</h1>
    Repositories written in:
    <ul>
      <li>Ruby: {{ruby}}</li>
      <li>JavaScript: {{javascript}}</li>
      <li>CSS: {{css}}</li>
      <li>N/A: {{none}}</li>
    </ul>

    <p>Total number of repos: {{noOfRepos}}</p>

  <!--   <p>{{commitMessages}}</p> -->
<!-- <p>{{wordCount}}</p> -->
  <!-- <p>{{maxWord}}</p> -->
  {{values}}


</html>